<html ng-app="draw2dApp">
<head>
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link type="text/css" rel="stylesheet" href="assets/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css" />
    <link type="text/css" rel="stylesheet" href="assets/stylesheets/contextmenu.css" />

    <SCRIPT src="./assets/javascript/dependencies.js"></SCRIPT>
</head>

<body id="container"  ng-controller="EditorController">

   <div id="logo">Draw1Health</div>
   <div id="toolbar" class="navbar-default">
      <button class="btn btn-lg btn-primary"                                             ng-click="editor.fileOpen()"  > Open   </button>
      <div class="btn-group">
      <button class="btn btn-lg btn-default" ng-disabled="!editor.state.canUndo"         ng-click="editor.undo()"  > Undo   </button>
      <button class="btn btn-lg btn-default" ng-disabled="!editor.state.canRedo"         ng-click="editor.redo()"  > Redo   </button>
      <button class="btn btn-lg btn-default" ng-disabled="editor.selection.figure==null" ng-click="editor.delete()"> Delete </button>
      </div>
   </div>


   <div id="propertyPane" >
     <div id="propertyHeader" class="highlight panetitle blackgradient">
         Shape Properties
     </div>
     <div id="properties" ng-switch on="editor.selection.className">

         <div ng-switch-when="draw2d.shape.node.Start">
           Start
           <div class="panel panel-default">
	           <div class="panel-heading" >Position</div>
	           <div class="panel-body" id="position_panel">
	               <div class="form-group">
	                   x: <input class="form-control" type="number" ng-model="editor.selection.attr.x" ><br>
	                   y: <input class="form-control" type="number" ng-model="editor.selection.attr.y" >
	               </div>
	           </div>
           </div>
         </div>

         <div ng-switch-when="draw2d.shape.node.End" >
           End
           <div class="panel panel-default">
	           <div class="panel-heading" >Position</div>
	           <div class="panel-body" id="position_panel">
	               <div class="form-group">
	                   x: <input class="form-control" type="number" ng-model="editor.selection.attr.x" ><br>
	                   y: <input class="form-control" type="number" ng-model="editor.selection.attr.y" >
	               </div>
	           </div>
           </div>
        </div>
     </div>

   </div>

   <div id="palettePane" draw2d-palette>
   </div>

   <div id="canvas" draw2d-canvas>
   </div>

</body>

    <SCRIPT src="./assets/javascript/angularkits.js"></SCRIPT>

    <!-- appliction specific coding -->
    <SCRIPT src="./assets/javascript/app.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/directives/draw2d.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/directives/canvas.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/directives/palette.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/factories/DemoData.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/factories/FileFactory.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/controllers/EditorController.js"></SCRIPT>
    <SCRIPT src="./assets/javascript/controllers/FileOpenController.js"></SCRIPT>
</html>
